services:
  domus_database:
    image: postgres
    container_name: domus_database
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: app_user
      POSTGRES_DB: app_db
      POSTGRES_PASSWORD: app_password
    ports:
      - "5432:5432"

  domus_app:
    image: domus_app
    container_name: domus_backend
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ./domus_backend
          target: /app/domus_backend
    depends_on:
      - domus_database
    environment:
      DATABASE_URL: postgresql+psycopg://app_user:app_password@domus_database:5432/app_db

volumes:
  pgdata:
